@import "../reindeer/legacy-styles.css";

.v-app {
    background: white;
}

.abc{
    background: #e4fcf3;
    border-radius: 30px;
}

.titellabel{
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.urllabel{
    font-size: 13px;
    color: limegreen;
}

.v-textarea{
    background: beige;
    border-color: darkgray;
    border-width: thin;
    border-style: solid;
}

textarea.v-textarea-readonly {
    border-color: darkgray;
    border-width: thin;
    border-style: solid;
}

.redbg{
    background: #ffa503;
}

.decentgreenbg{
    background: #e9ffef;
}

.decentyellowbg{
    background: #f9ffe3;
}

.v-table-cell-wrapper {
    white-space: normal;
}

.v-table-cell-content-decentyellowbg{
    background: #f9ffe3;
}

.v-table-row-decentyellowbg{
    background: #f9ffe3;
}

.v-select-optiongroup-horizontal .v-select-option {
    display: inline-block;
}